<!DOCTYPE html>
<html>
<head>
    {% if not pixel %}
        {% for i in range(check_count) %}
            <link rel="stylesheet" type="text/css" href="adv.css?tag={{ uuid }}&id={{ i }}">
        {% endfor %}
    {% endif %}
</head>
<body>
    <p>Try toggling adblock on this page. I know you can just unblock 
the css resource but the path can be randomized from the easylist 
blocklist or something. This is just a PoC for a brainfart.
Source <a href="https://github.com/Mechazawa/pixelAntiAdblock">here</a><p>
    <br>
    <img src="/img?uuid={{ uuid }}">
</body>
</html>
